.chatListItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
  }
  
  .chatListItem:hover {
    background-color: #f5f5f5;
  }
  
  .chatListItem > .MuiAvatar-root {
    margin-right: 15px;
  }
  
  .chatListItem__info > h2 {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .chatListItem__info > p {
    color: gray;
    font-size: 13px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }